
<header>
    <h1 style="font-family:sans-serif">Clueless</h1>
    <br/>
    <div class="board">
        <table>
            <tr>
                <td>Study</td>
                <td></td>
                <td>Hall</td>
                <td></td>
                <td>Lounge</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Library</td>
                <td></td>
                <td>Billiard Room</td>
                <td></td>
                <td>Dining Room</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Conservatory</td>
                <td></td>
                <td>Ballroom</td>
                <td></td>
                <td>Kitchen</td>
            </tr>
        </table>
    </div>

</header>


