header {
    text-align: center;
}

td {
    border: 1px solid black;
    height: 120px;
    width: 120px;
}

.board {
    // align-self: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.game {
    align-self: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

.bottom-section {
    display: flex;
    flex: 1;
}

.game-log {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    overflow: auto;
}

.game-sheet{
    width: 50%;
    height: 200px;
    border: 1px solid black;
    overflow: auto;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.suggestion-panel {
    height: 38%;
    width: 300px;
    border: 1px solid black;
}

.accuse-panel {
    height: 38%;
    width: 300px;
    border: 1px solid black;
}

.end-panel {
    height: 24%;
    width: 300px;
    border: 1px solid black;
}

.my-btn {
    color: white !important;
    background-color: steelblue !important;
    border: 1px thin black;
}

.horizontal {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.game-btn {
    padding: 5px;
    margin: 10px;
}